<br>
<input id="messagebox" autocomplete="off" /><button id = "sendbutton">Send</button>
<input id="nickname"/><button id = "nickbutton">Set nickname</button>
<p id="users"></p>
<ul id="messages"></ul>
<br>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="scripts/chatScripts.js"></script>
