<!DOCTYPE html>
<html>
<head>
  <title>Gambling Site</title>
  <meta name="robots" content="noindex">
  <metaname="viewport"content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {{{_sections.head}}}
</head>
<BODY OnLoad="setBj()">
  {{{_sections.title}}}
  <nav>
   <a href="/">HOME</a>
   <a href="/games">GAMES</a>
   <a href="/account">ACCOUNT</a>
   <a href="/info">INFO</a>
  </nav>
  {{{_sections.content}}}

  {{{_sections.bottom}}}
<footer> &copy 2016 Kjell Deboysere - Gilles Vancanneyt </footer>
</body>
</html>
