<!DOCTYPE html>
<html>
<head>
  <title>Gambling Site</title>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  {{{_sections.head}}}
</head>

<body>
  {{{body}}}

  {{{_sections.bottom}}}
<footer> &copy 2016 Kjell Deboysere - Gilles Vancanneyt </footer>
</body>
</html>
