<!DOCTYPE html>
<html>
<head>
  <title>Gambling Site</title>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
  {{{_sections.head}}}
</head>
<body>
  {{> menu}}

  {{{_sections.title}}}


  {{{_sections.content}}}

  {{{_sections.bottom}}}
<footer> &copy 2016 Kjell Deboysere - Gilles Vancanneyt </footer>
</body>
</html>
