<!DOCTYPE html>
<html>
<head>
  <title>Gambling Site</title>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  {{{_sections.head}}}
</head>
<nav>
 <a href="/">HOME</a>
 <a href="/games">GAMES</a>
 <a href="/account">ACCOUNT</a>
 <a href="/info">INFO</a>
</nav>
<body>
  {{{body}}}

  {{{_sections.bottom}}}
<footer> &copy 2016 Kjell Deboysere - Gilles Vancanneyt </footer>
</body>
</html>
