<!DOCTYPE html>
<html>
<head>
  <title>Gambling Site</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content=" width = device-width, initial-scale = 1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="css/menu.css" />
  <link rel="stylesheet" type="text/css" href="css/personStyle.css" />
  {{{_sections.head}}}
</head>
<body>

  {{> menu}}

  <div class="titlebox">
    {{{_sections.title}}}
  </div>

  <div class="outercontent">
  <div class="content">
    {{> personinfo}}
    {{{_sections.content}}}
  </div></div>

  {{{_sections.bottom}}}

  {{> footer}}
</body>
</html>
