{{#section "title"}}
<h1>GAMES</h1>
{{/section}}
{{#section "content"}}


<script type="text/javascript" src="scripts/games.js"></script>

<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event,'GuessGame')" id="defaultOpen">GuessGame</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event,'DiceGame')">DiceGame</a></li>
</ul>
<div id="GuessGame" class="tabcontent">
<h4>Guess-the-random-number game</h4>
<form name="GameGuess">
    Guess the number between 1 and 100<br/>
    <input name="MyInput" type="text" value=""/>
    <input type="button" value="Click me!" onclick="displayMessageGuessGame(this.form)" />
    <br/><br/>
    <input id="ResultGameGuess" name="Answer" type="text" />
  </form>

</div>

<div id="DiceGame" class="tabcontent">
  <h4>Dice-roll-Game</h4>
  <form name=DiceForm>
  <table border=2 cellpadding=5>
  <tr>
  <td colspan=2 align=middle>What dice type?</td>
  <td colspan=2 align=middle>How many dice to roll?</td>
  </tr>
  <tr>
  <td valign=top align=middle>
  <p><input type=radio name=sides onclick="die = 3">3 Sided
  <p><input type=radio name=sides onclick="die = 4">4 Sided
  <p><input type=radio name=sides onclick="die = 5">5 Sided
  <p><input type=radio checked name=sides onclick="die = 6">6 Sided
  <p><input type=radio name=sides onclick="die = 8">8 Sided
  </td>
  <td valign=top align=middle>
  <p><input type=radio name=sides onclick="die = 10">10 Sided
  <p><input type=radio name=sides onclick="die = 12">12 Sided
  <p><input type=radio name=sides onclick="die = 20">20 Sided
  <p><input type=radio name=sides onclick="die = 30">30 Sided
  <p><input type=radio name=sides onclick="die = 100">100 Sided
  </td>
  <td valign=top align=middle>
  <p><input type=radio name=number onclick="dice = 1">1
  <p><input type=radio name=number onclick="dice = 2">2
  <p><input type=radio checked name=number onclick="dice = 3">3
  <p><input type=radio name=number onclick="dice = 4">4
  <p><input type=radio name=number onclick="dice = 5">5
  </td>
  <td valign=top align=middle>
  <p><input type=radio name=number onclick="dice = 6">6
  <p><input type=radio name=number onclick="dice = 7">7
  <p><input type=radio name=number onclick="dice = 8">8
  <p><input type=radio name=number onclick="dice = 9">9
  <p><input type=radio name=number onclick="dice = 10">10
  </td>
  </tr>
  <tr>
  <td align=middle colspan=4>
  <input type=button value="Roll Dice" name=button onclick="dice_roll(die, dice)">
  <input type=text size=10 name=text>
  </td>
  </tr>
  </table>
  </form>
</div>

<script>
function openTab(evt, tabname) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabname).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>



{{/section}}
