{{#section "head"}}
<meta name="robots" content="noindex">
{{/section}}

{{#section "title"}}
<h1>Welkom to the Gambling Site</h1>
{{/section}}
{{#section "content"}}
<img src="img/poker.jpg" alt="Welkom to Gambling Site" height="500" width="800" style="float: left; margin-left : 100px;">
{{/section}}
