{{#section "head"}}
<meta name="robots" content="noindex">
{{/section}}

{{#section "title"}}
<h1>INFO</h1>
{{/section}}
{{#section "content"}}
<h5>This gambling site provides two games: A Guess-The-Number game and a Dice-roll-game</h5>

{{/section}}
