{{#section "content"}}

<center>
<p style="font-size:30px"><B>You're under the age of 18. Go watch samson on tv!</B></p>

<img src="img/samson.png" alt="Samson" height="500" width="800">
</center>
{{/section}}
